<!DOCTYPE html>
<html lang="zh-TW">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="Expires" content="0" />
  <title>{% block title %}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static',filename='vendor/jquery-confirm/jquery-confirm.css') }}">
  <link rel="icon" href="{{ url_for('static',filename='img/new-logo.png') }}" type="image/x-icon" />
  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">
  <link href="{{ url_for('static',filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/webfont/webfont.css') }}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/slick/slick.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/slick/slick-theme.css') }}"/>
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui-timepicker-addon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/style-new.css') }}" rel="stylesheet">
  {% block css %}{% endblock css %}

</head>

<body id="page-top">
  <div class="buy-ticket">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand mr-0 ml-5" href="/">
      <img src="{{ url_for('static',filename='img/new-logo.png') }}" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <i class="icon-magnifier magnifier"></i>
      <div class="navbar-search">
        <form class="search-area">
          <input class="form-control mr-sm-2 border-radius-1 white-border" type="search" placeholder="搜尋想要的活動名稱" aria-label="Search">
        </form>
      </div>
      {% if request.cookies.get('qsacw') %}
      <div class="navbar-item-login">
      {% else %}
      <div class="navbar-item-not-login">
      {% endif %}
        <ul class="navbar-nav">
          <li class="nav-item mr-3 my-auto">
            <a class="nav-link index-new" href="/index-new">
              <i class="icon-home"></i>
              首頁
            </a>
          </li>
          <li class="nav-item mr-3 my-auto">
            <a class="nav-link" href="#">
              <i class="icon-fire"></i>
              熱門活動
            </a>
          </li>
          <li class="nav-item mr-3 my-auto">
            <a class="nav-link" href="#">
              <i class="icon-location-pin"></i>
              周遭活動
            </a>
          </li>
        {% if request.cookies.get('qsacw') %}
          <li class="nav-item my-auto mr-3">
            <a class="nav-link emailtest" id="Create" href="javascript:;">
              <i class="fas fa-plus"></i>
              創建活動
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="border-radius-2 user" src="{{ url_for('static',filename='img/10.png') }}">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="row mt-2 pl-2">
                <div class="col-2 ml-3 mr-1">
                  <img class="border-radius-2 user" src="{{ url_for('static',filename='img/10.png') }}">
                </div>
                <div class="col-6 ml-4 my-auto">
                  <h5 class="mb-0">測試員</h5>
                </div>
              </div>
              <hr>
              <a class="dropdown-item" href="/myticket-new">我的票券</a>
              <a class="dropdown-item" href="myfavorites">我的收藏</a>
              <a class="dropdown-item emailtest" href="javascript:;">我的評價</a>
              <a class="dropdown-item emailtest" href="javascript:;">帳戶設定</a>
              <a class="dropdown-item emailtest" href="javascript:;">更改密碼</a>
              <!--
              <a class="dropdown-item emailtest" href="javascript:;" id="dashboard"">我的後台管理</a>
              <a class="dropdown-item emailtest" href="javascript:;" id="Group">我的群組</a>
              <a class="dropdown-item" href="/MyProfile">個人檔案</a>
              -->
              <hr>
              <a class="dropdown-item text-center" href="javascript:;" id="logout">登出</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item mr-3">
            <a class="nav-link white-border border-radius-2 px-4" href="/login">登入</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link white-border border-radius-2 px-4" href="/signup">註冊</a>
          </li>
        {% endif %}
        </ul>
    </div>
  </nav>
</div>
<section class="mt-5 sidebar-main container-fluid">
  <div class="row ml-2">
    <div class="col-2">
      <div class="card border-radius-2">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <img class="border-radius-2 user" src="{{ url_for('static',filename='img/10.png') }}">
            </div>
            <div class="col-8 ml-2 my-auto">
              <h4 class="mb-0">測試員</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-radius-2 mt-3">
        <div class="card-body">
          <ul class="navbar-nav">
            <li class="mb-2">
              <a id="myticket-link" class="text-primary sidebar-link" href="javascript:;">我的票券</a>
            </li>
            <li class="mb-2">
              <a id="myfavorites-link" class="text-black sidebar-link" href="javascript:;">我的收藏</a>
            </li>
            <li class="mb-2">
              <a class="text-black sidebar-link" href="#">我的評價</a>
            </li>
            <li class="mb-2">
              <a class="text-black sidebar-link" href="#">帳戶設定</a>
            </li>
            <li class="mb-2">
              <a class="text-black sidebar-link" href="#">更改密碼</a>
            </li>
            <li class="mb-2">
              <a class="text-black sidebar-link" href="#">登出</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-10 pr-5">
      <div class="card border-radius-2">
        <div class="card-body main-include">
          {% if request.path == '/myfavorites' %}
          {% include 'MyFavorites.html' %}
          {% elif request.path == '/myticket-new' %}
          {% include 'MyTicket-new.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
  <footer class="footer">
    <section class="text-center">
      <div class="pt-4">
        <a class="text-black mr-3" href="#">熱門活動</a>
        <a class="text-black mr-3" href="#">推薦活動</a>
        <a class="text-black mr-3" href="#">周遭活動</a>
        <a class="text-black mr-3" href="/policy">隱私權政策</a>
      </div>
      <div class="mt-4">
        <a class="social-btn btn border-radius-1 text-black mr-3" href="#">
          <i class="icon-social-instagram"></i>
          Fiesta.network
        </a>
        <a class="social-btn btn border-radius-1 text-black" href="#">
          <i class="fab fa-facebook-square"></i>
          Fiesta network Taiwan
        </a>
      </div>
      <div>
        <h6 class="text-right">Copyright © Fiesta 2020</h6>
      </div>
    </section>
  </footer>
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.js') }}"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui-timepicker-addon.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery-ui/jquery-ui-sliderAccess.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery-confirm/jquery-confirm.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/jquery-md5/index.js') }}"></script>
  <!-- Custom scripts for this template -->
  <script type="text/javascript" src="{{ url_for('static',filename='vendor/slick/slick.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/agency.js') }}"></script>
  <script src="{{ url_for('static',filename='js/common.js') }}?version=1.17"></script>
  <script src="{{ url_for('static',filename='js/common-new.js') }}"></script>
  <script src="{{ url_for('static',filename='js/logout.js') }}"></script>
  {% block script %}{% endblock %}
  <!---->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBH8EQ4pqzmqCvLaCDVy6zgtbyMN9tjAP0",
      authDomain: "fiesta-c7f35.firebaseapp.com",
      databaseURL: "https://fiesta-c7f35.firebaseio.com",
      projectId: "fiesta-c7f35",
      storageBucket: "fiesta-c7f35.appspot.com",
      messagingSenderId: "1058250559348",
      appId: "1:1058250559348:web:2d13d469d8cc033b6ba621",
      measurementId: "G-G140WH8E27"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
</body>

</html>