{% extends 'base-new.html' %}
{% block title %}{% endblock title %}
{% block content %}
{% include 'navbar.html' %}
<section class="header mt-6 container-fluid pb-5">
  <div class="row">
    <div class="col-6 text-center my-auto">
      <h1>嘻哈活動</h1>
    </div>
    <div class="col-5">
      <img class="header-img" src="{{ url_for('static',filename='img/interest.png') }}">
    </div>
  </div>
</section>
{% endblock content %}
{% block detail %}
</div>
<section class="like-activity">
  <div class="row ml-5">
    <div class="col-4">
      <div class="card border-radius-2">
        <div class="card-body">
          <div class="float-right">
            <i class="far fa-heart ml-1"></i>
            <h6>收藏</h6>
          </div>
          <h5>Fiesta PR Team</h5>
          <h6><i class="icon-location-pin"></i>畫廊酒吧/高雄市鼓山區哨船街51號2F</h6>
          <img class="activity" src="{{ url_for('static',filename='img/bg1.jpg') }}" />
          <h6>Old Brand 老牌萬聖派對</h6>
          <h6 class="time-color">2020-10-31 17:00</h6>
          <h6 class="activity-tag mb-0">#饒舌 #酒吧</h6>
          <div class="star-group">
            <div class="btn-star" id="1">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card border-radius-2">
        <div class="card-body">
          <div class="float-right">
            <i class="far fa-heart ml-1"></i>
            <h6>收藏</h6>
          </div>
          <h5>Fiesta PR Team</h5>
          <h6><i class="icon-location-pin"></i>畫廊酒吧/高雄市鼓山區哨船街51號2F</h6>
          <img class="activity" src="{{ url_for('static',filename='img/bg1.jpg') }}" />
          <h6>Old Brand 老牌萬聖派對</h6>
          <h6 class="time-color">2020-10-31 17:00</h6>
          <h6 class="activity-tag mb-0">#饒舌 #酒吧</h6>
          <div class="star-group">
            <div class="btn-star" id="1">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card border-radius-2">
        <div class="card-body">
          <div class="float-right">
            <i class="far fa-heart ml-1"></i>
            <h6>收藏</h6>
          </div>
          <h5>Fiesta PR Team</h5>
          <h6><i class="icon-location-pin"></i>畫廊酒吧/高雄市鼓山區哨船街51號2F</h6>
          <img class="activity" src="{{ url_for('static',filename='img/bg1.jpg') }}" />
          <h6>Old Brand 老牌萬聖派對</h6>
          <h6 class="time-color">2020-10-31 17:00</h6>
          <h6 class="activity-tag mb-0">#饒舌 #酒吧</h6>
          <div class="star-group">
            <div class="btn-star" id="1">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock detail %}